
.navbar{
	display:flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top:0px;
	right:0px;
	left:0px;
	background:var(--color-back-3);
	color:var(--color-primary);
	padding:0px 30px;
	z-index: 100;
}

.navbar .navbar-title{
	font-size:25px;
}

.navbar .navbar-ul{
	display:flex;
	margin:0px;
}

.navbar .navbar-li:hover >*, .navbar .navbar-li:hover{
	background: var(--color-primary);
	color:var(--color-back-3);
}

.navbar .navbar-li{
	padding:20px;
}

.navbar #dropdown{
	padding:20px;
	display: none;
}

.navbar .dropdown,.navbar .dropdown:hover{
	transform: translate(-68px,20px);
	background: var(--color-back-3);
	border-radius: 0px 0px 10px 10px;
	max-height: 60vh;
	overflow-y: scroll;
}

.navbar .dropdown-li{
	padding: 10px;
}

.navbar .dropdown-li button{
	font-size:10px;
}

.navbar .user>*{
	margin:0px 3px;
}
